<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  파일명: ArticleMapper.xml
  설명: 기사글 Mapper 설정
  작성일: 2020-12-24
  작성자: 이종현
 -->
<mapper namespace="mappers.ArticleMapper">
    <!-- 조회 -->
   
	<select id="selectARTICLE" resultType="hashmap">
	  SELECT * FROM ARTICLE
	</select>
	
	<!-- 기사글 목록 조회 -->
	<select id="listArticle"  resultType="hashmap">
		SELECT *FROM ARTICLE
	</select>
	
	<!-- 기사글 입력 -->
	<insert id="insertArticle">
	  INSERT INTO ARTICLE (title,content,hit,status)
	  VALUES (#{title},#{content},#{hit},#{status})
	</insert>

	<!-- 기사글 수정 -->
	<update id="updateArticle" >
	  UPDATE ARTICLE SET
	    content = #{content},
	    hit = #{hit},
	    status = #{status}	
	  where title = #{title}
	</update>
	
	<!-- 수정 -->
	<update id="delFlagArticle">
	  UPDATE ARTICLE SET
	    status = #{status},	
	  where user_id = #{id} AND category_id = #{id}
	</update>
	
</mapper>