<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="button" id="idCheckBtn" value="아이디 체크">
    <input type="button" id="paramTest" value="파람테스트">
  </body>
  <script src="javascripts/auth.js"></script>
</html>
