<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
  파일명: UserMapper.xml
  설명: 사용자 Mapper 설정
  작성일: 2020-12-24
  작성자: 이종현
 -->
<mapper namespace="com.kodark.news.mappers.UserMapper">
    <!-- 조회 -->
    <!--
	<select id="selectPerson" parameterType="int" resultType="hashmap">
	  SELECT * FROM USER
	</select>
	 -->
	 
	<insert id="insertUser">
	  INSERT INTO USER (email,pwd,auth)
	  VALUES (#{email},#{pwd},#{auth}})
	</insert>
	<!-- 로그인 -->
	<select id="signIn" resultType="com.kodark.news.dto.UserDto">
		SELECT email, pwd 
		  FROM USER
		 WHERE EMAIL = #{email}
		   AND PWD = #{pwd}   
	</select>

	<update id="updateUser">
	  UPDATE USER SET
	    pwd = #{pwd},
	    auth = #{auth},	
	  where email = #{email}
	</update>
	
	<!-- 
	<delete id="deleteUser">
	  DELETE FROM USER WHERE email = #{email}
	</delete>
	 -->
	 
</mapper>